<h1>RxJS 5.5+ lettable onDestroy operator for Angular 4+</h1>

<p>Open up the developers console and click the button a few times</p>
<p>
  You will then see the
  <a href="https://github.com/SanderElias/untilDestroy/blob/master/src/app/hello.component.ts" target="_blank">HelloComponent</a> getting initialised/destroy's. in the component are 3 subscribtions to 2 different observables (sample$
  and sample1$)

</p>

<button (click)='show=!show'>Show/hide hello</button>
<hello *ngIf='show' name="{{ name }}"></hello>
